@import '../../../scss/base';

.rt-solari-about-warp {
    .about-four-img{
        position: relative;
        .thumbnail-1{
            position: relative;
            max-width: max-content;
            z-index: 1;
            &:after{
                position: absolute;
                content: "";
                border: 1px solid $primaryColor;
                height: 100%;
                width: 100%;
                left: 30px;
                top: 30px;
                z-index: -1;
            }
            .experience{
                position: absolute;
                right: -220px;
                top: 0;
                display: flex;
                align-items: center;
                gap: 15px;
                h3{
                    font-size: 86px;
                    color: $primaryColor;
                }
                span.plus{
                    color: $primaryColor;
                    font-size: 20px;
                    font-weight: 600;
                }
                span{
                    color: #000000;
                    font-weight: 600;
                    display: block;
                    text-transform: uppercase;
                }
            }
        }
        .thumbnail-2{
            position: absolute;
            top: 80px;
            right: 0;
            z-index: 2;
            img{
                border: 10px solid #fff;
                animation: jump-2 5s linear infinite;
            }
            span{
                position: absolute;
                min-width: max-content;
                right: 9px;
                top: 9px;
                padding: 8px 30px;
                background: $primaryColor;
                color: #fff;
                animation: jump-2 5s linear infinite;
                letter-spacing: 0.1em;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &.style2 {
        .thumbnail-about-eight {
            position: relative;
            .experience-area {
                max-width: 203px;
                position: absolute;
                top: 42%;
                right: 40px;
                animation: jump-2 8s linear infinite;
                background: #fff;
                padding: 30px 40px;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
                .image-area {
                    position: relative;
                    span {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        font-weight: 600;
                        font-size: 40px;
                    }
                }
                p {
                    text-align: center;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1em;
                    color: #0C0A0A;
                    margin: 0;
                    margin-top: 12px;
                }
                
            }
        }
    }
    // &.style3 {
    //     .thumbnail-about-eight.industrial {
    //         .experience-area {
    //             width: max-content;
    //             .image-area {
    //                 .about_ani_top {
    //                     background: $primaryColor;
    //                     display: flex;
    //                     align-items: center;
    //                     gap: 10px;
    //                     padding: 30px 25px;
    //                     p {
    //                         margin: 0;
    //                     }
    //                     h3 {
    //                         margin: 0;
    //                     }
    //                 }
    //             }
                
    //         }
    //     }
    // }

}

.rt-solari-about-warp.style3 {
   .industrial {
        .experience-area {
            width: max-content;
            .image-area {
                .about_ani_top {
                    background: $primaryColor;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 30px 25px;
                    p {
                        margin: 0;
                    }
                    h3 {
                        margin: 0;
                    }
                }
            }
            
        }
    }
}