:root {
  --color-primary: #4AAB3D;
  --color-secondary: #1F1F25;
  --color-body: #6E777D;
  --color-heading-1: #1f1f25;
  --color-white:#fff;
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.3s;
  --font-primary: "Exo", sans-serif;
  --font-secondary: "Albert Sans", sans-serif;
  --font-size-b1: 16px;
  --font-size-b2: 16px;
  --font-size-b3: 22px;
  --line-height-b1: 26px;
  --line-height-b2: 26px;
  --line-height-b3: 1.7;
  --h1: 60px;
  --h2: 48px;
  --h3: 30px;
  --h4: 26px;
  --h5: 24px;
  --h6: 18px;
}

.rt-solari-about-warp .about-four-img {
  position: relative;
}
.rt-solari-about-warp .about-four-img .thumbnail-1 {
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 1;
}
.rt-solari-about-warp .about-four-img .thumbnail-1:after {
  position: absolute;
  content: "";
  border: 1px solid #4AAB3D;
  height: 100%;
  width: 100%;
  left: 30px;
  top: 30px;
  z-index: -1;
}
.rt-solari-about-warp .about-four-img .thumbnail-1 .experience {
  position: absolute;
  right: -220px;
  top: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.rt-solari-about-warp .about-four-img .thumbnail-1 .experience h3 {
  font-size: 86px;
  color: #4AAB3D;
}
.rt-solari-about-warp .about-four-img .thumbnail-1 .experience span.plus {
  color: #4AAB3D;
  font-size: 20px;
  font-weight: 600;
}
.rt-solari-about-warp .about-four-img .thumbnail-1 .experience span {
  color: #000000;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}
.rt-solari-about-warp .about-four-img .thumbnail-2 {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2;
}
.rt-solari-about-warp .about-four-img .thumbnail-2 img {
  border: 10px solid #fff;
  animation: jump-2 5s linear infinite;
}
.rt-solari-about-warp .about-four-img .thumbnail-2 span {
  position: absolute;
  min-width: -moz-max-content;
  min-width: max-content;
  right: 9px;
  top: 9px;
  padding: 8px 30px;
  background: #4AAB3D;
  color: #fff;
  animation: jump-2 5s linear infinite;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.rt-solari-about-warp.style2 .thumbnail-about-eight {
  position: relative;
}
.rt-solari-about-warp.style2 .thumbnail-about-eight .experience-area {
  max-width: 203px;
  position: absolute;
  top: 42%;
  right: 40px;
  animation: jump-2 8s linear infinite;
  background: #fff;
  padding: 30px 40px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
}
.rt-solari-about-warp.style2 .thumbnail-about-eight .experience-area .image-area {
  position: relative;
}
.rt-solari-about-warp.style2 .thumbnail-about-eight .experience-area .image-area span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 40px;
}
.rt-solari-about-warp.style2 .thumbnail-about-eight .experience-area p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #0C0A0A;
  margin: 0;
  margin-top: 12px;
}

.rt-solari-about-warp.style3 .industrial .experience-area {
  width: -moz-max-content;
  width: max-content;
}
.rt-solari-about-warp.style3 .industrial .experience-area .image-area .about_ani_top {
  background: #4AAB3D;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 25px;
}
.rt-solari-about-warp.style3 .industrial .experience-area .image-area .about_ani_top p {
  margin: 0;
}
.rt-solari-about-warp.style3 .industrial .experience-area .image-area .about_ani_top h3 {
  margin: 0;
}/*# sourceMappingURL=about.css.map */