:root {
  --color-primary: #4AAB3D;
  --color-secondary: #1F1F25;
  --color-body: #6E777D;
  --color-heading-1: #1f1f25;
  --color-white:#fff;
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.3s;
  --font-primary: "Exo", sans-serif;
  --font-secondary: "Albert Sans", sans-serif;
  --font-size-b1: 16px;
  --font-size-b2: 16px;
  --font-size-b3: 22px;
  --line-height-b1: 26px;
  --line-height-b2: 26px;
  --line-height-b3: 1.7;
  --h1: 60px;
  --h2: 48px;
  --h3: 30px;
  --h4: 26px;
  --h5: 24px;
  --h6: 18px;
}

.swiper.team-slider-style1 {
  position: inherit;
}
.swiper.team-slider-style1 .team-item {
  overflow: visible;
}
.swiper.team-slider-style1 .team-item .team-inner-wrap {
  overflow: hidden;
}
.swiper.team-slider-style1 .team-item .social-icons1 {
  text-align: center;
  margin-top: 14px;
}
.swiper.team-slider-style1 .team-item .social-icons1 a i {
  color: #fff;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  transition: 0.3s all ease;
  border-radius: 50%;
  margin: 0;
}
.swiper.team-slider-style1 .team-item .image-wrap {
  position: relative;
  overflow: hidden;
}
.swiper.team-slider-style1 .team-item .image-wrap .social-icons1 {
  position: absolute;
  right: -50px;
  bottom: 0;
  width: 50px;
  background: #4AAB3D;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.swiper.team-slider-style1 .team-item .image-wrap .social-icons1 a {
  padding: 0;
  background: transparent;
}
.swiper.team-slider-style1 .team-item .image-wrap .social-icons1 a i {
  background: transparent;
}
.swiper.team-slider-style1 .team-item .image-wrap .social-icons1 a:hover i {
  color: #FD8F14;
  background: transparent;
}
.swiper.team-slider-style1 .team-item :hover .image-wrap .social-icons1 {
  right: 0;
  width: 50px;
  opacity: 1;
  visibility: visible;
}
.swiper.team-slider-style1 .team-item .team-content {
  text-align: left;
  margin: 0;
  padding: 30px 30px 25px;
  background: #4AAB3D;
  margin-bottom: 20px;
  position: unset;
  opacity: 1;
}
.swiper.team-slider-style1 .team-item .team-content h3.team-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.swiper.team-slider-style1 .team-item .team-content h3.team-name a {
  text-decoration: none;
  color: #ffffff;
}
.swiper.team-slider-style1 .team-item .team-content h3.team-name a:hover {
  color: #c4c4c4;
}
.swiper.team-slider-style1 .team-item .team-content p.team-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 5px;
}
.swiper.team-slider-style1 .team-item .social-icons {
  display: none;
}
.swiper.team-slider-style1 .rt-slider-navigation.team {
  position: absolute;
  right: 0;
  top: -172px;
  z-index: 2;
}

.team-slider-style1 .team-item .team-content {
  margin: 0;
}

#team-slider-img-shadow .team-item {
  padding-bottom: 30px;
}
#team-slider-img-shadow .team-inner-wrap {
  box-shadow: 0px 2px 20px rgba(24, 16, 16, 0.09);
}

.team-slider-style2 {
  padding-bottom: 110px !important;
}
.team-slider-style2 .team-inner-wrap {
  position: relative;
  margin-bottom: 35px;
  padding-top: 20px;
}
.team-slider-style2 .team-inner-wrap .image-wrap {
  border-radius: 15px;
  overflow: hidden;
}
.team-slider-style2 .team-inner-wrap a {
  text-decoration: none;
}
.team-slider-style2 .team-inner-wrap .team-img-sec {
  position: relative;
}
.team-slider-style2 .team-inner-wrap .wrap-text {
  box-shadow: 0 5px 20px rgba(34, 34, 34, 0.1);
  padding: 0 40px 12px;
  background: #fff;
}
.team-slider-style2 .team-inner-wrap .wrap-text .team-desc {
  margin-bottom: 0;
}
.team-slider-style2 .team-content {
  position: absolute;
  left: 0;
  bottom: -20%;
  background: #fff;
  border-radius: 0 15px 15px 15px;
  box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.0705882353);
  text-align: center;
}
.team-slider-style2 .team-content .header {
  padding: 30px 82px 22px 82px;
  border-bottom: 1px solid #F0F0F0;
}
.team-slider-style2 .team-content .header .team-name {
  margin-bottom: 3px;
}
.team-slider-style2 .team-content .header .team-name a {
  color: #1C2539;
}
.team-slider-style2 .team-content .header .team-title {
  color: #F64A00;
}
.team-slider-style2 .team-content .social-icons {
  padding: 27px 0 36px 0;
  display: flex;
  justify-content: center;
}
.team-slider-style2 .team-content .social-icons a {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border-radius: 50%;
  display: block;
  line-height: 40px;
  margin-right: 7px;
}
.team-slider-style2 .team-content .social-icons a:last-child {
  margin-right: 0;
}
.team-slider-style2 .team-content .social-icons a i {
  font-size: 14px;
  color: #1C2539;
  transition: 0.3s;
}
.team-slider-style2 .team-content .social-icons a:hover {
  background: #F64A00;
}
.team-slider-style2 .team-content .social-icons a:hover i {
  color: #fff;
}

.team-slider-style3 .style3 {
  margin-bottom: 60px;
}
.team-slider-style3 .team-item {
  padding: 25px;
  position: relative;
}
.team-slider-style3 .team-item:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 200px solid #1F1F25;
  border-right: 200px solid transparent;
  left: 0px;
  top: -10px;
}
.team-slider-style3 .team-item:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 200px solid #1F1F25;
  border-left: 200px solid transparent;
  right: 0px;
  bottom: -10px;
}
.team-slider-style3 .team-item img {
  position: relative;
  z-index: 99;
}
.team-slider-style3 .team-item .team-inner-wrap {
  position: relative;
}
.team-slider-style3 .team-item .team-inner-wrap:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #1F1F25;
  opacity: 0.8;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0;
  transition: 1.3s;
}
.team-slider-style3 .team-item .team-content {
  position: absolute;
  display: block;
  left: 50%;
  width: 100%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 110;
  color: #fff;
  padding: 15px;
  opacity: 0;
  transition: 1.3s;
}
.team-slider-style3 .team-item .team-content .team-name {
  margin-bottom: 0;
  font-size: 20px;
}
.team-slider-style3 .team-item .team-content .team-name a {
  color: #fff;
}
.team-slider-style3 .team-item .team-content .team-title {
  color: #fff;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
}
.team-slider-style3 .team-item .team-content .social-icons a {
  color: #fff;
  margin-right: 12px;
  font-size: 16px;
}
.team-slider-style3 .team-item .team-content .social-icons a:last-child {
  margin-right: 0;
}
.team-slider-style3 .team-item .team-content .social-icons a:hover {
  opacity: 0.8;
}
.team-slider-style3 .team-item:hover .team-content {
  opacity: 1;
  width: 100%;
  top: 50%;
}
.team-slider-style3 .team-item:hover .team-inner-wrap:before {
  opacity: 0.8;
}

.team-slider-style4 .owl-stage-outer {
  overflow-y: visible;
}
.team-slider-style4 .team-item {
  margin-bottom: 60px;
  position: relative;
}
.team-slider-style4 .team-item .image-wrap {
  overflow: hidden;
}
.team-slider-style4 .team-item .image-wrap img {
  width: 100%;
  transition: 1.3s;
}
.team-slider-style4 .team-item .image-wrap:hover img {
  transform: scale(1.1);
}
.team-slider-style4 .team-item .team-content {
  text-align: center;
  z-index: 9;
  position: absolute;
  z-index: 1;
  opacity: 1;
  width: unset;
  height: unset;
  display: inline-block;
  top: unset;
  bottom: -34px;
  left: 0;
}
.team-slider-style4 .team-item .team-content .team-name {
  font-size: 24px;
  font-weight: 500;
  width: 275px;
  background: #ffffff;
  transition: 0.3s;
  max-width: 256px;
  display: block;
  text-align: left;
  padding: 8px 18px;
  margin-bottom: 0;
  font-family: "Albert Sans", sans-serif;
}
.team-slider-style4 .team-item .team-content .team-name a {
  color: #1F1F25;
}
.team-slider-style4 .team-item .team-content .team-name a:hover {
  color: #4AAB3D;
}
.team-slider-style4 .team-item .team-content .team-title {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 18px;
  display: block;
  color: #fff;
  background: #171717;
  text-align: left;
}

.swiper.team-slider-style5 .rts-team-one-start {
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F3F5 100%);
  padding: 30px;
  padding-bottom: 180px;
}
.swiper.team-slider-style5 .rts-team-one-start:hover .wrapper .thumbnail img {
  transform: scale(1.15);
}
.swiper.team-slider-style5 .rts-team-one-start .wrapper {
  position: relative;
}
.swiper.team-slider-style5 .rts-team-one-start .wrapper .thumbnail {
  overflow: hidden;
  display: block;
}
.swiper.team-slider-style5 .rts-team-one-start .wrapper .thumbnail img {
  width: 100%;
  transition: 1.3s;
}
.swiper.team-slider-style5 .rts-team-one-start .inner {
  text-align: center;
  padding: 43px 20px 53px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -144px;
  width: 100.5%;
  transition: 1s;
}
.swiper.team-slider-style5 .rts-team-one-start .inner a.name:hover .title {
  color: #4AAB3D;
}
.swiper.team-slider-style5 .rts-team-one-start .inner .title {
  margin-bottom: 7px;
  font-size: 30px;
  transition: 0.3s;
}
.swiper.team-slider-style5 .rts-team-one-start .inner span {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6E777D;
}
.swiper.team-slider-style5 .rts-team-one-start .inner .info-wrapper {
  margin-top: 0px;
  margin-bottom: -15px;
  max-height: 0;
  transition: 1s;
  height: 0;
  overflow: hidden;
}
.swiper.team-slider-style5 .rts-team-one-start .inner .info-wrapper .single {
  position: relative;
  margin-bottom: 15px;
}
.swiper.team-slider-style5 .rts-team-one-start .inner .info-wrapper .single a {
  padding: 12px 25px 12px 55px;
  border-radius: 100px;
  display: block;
  background: #F2F3F5;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  color: #6E777D;
}
.swiper.team-slider-style5 .rts-team-one-start .inner .info-wrapper .single a:hover {
  color: #4AAB3D;
}
.swiper.team-slider-style5 .rts-team-one-start .inner .info-wrapper .single i {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #FF6600;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  left: 55px;
  top: 2px;
}
.swiper.team-slider-style5 .rts-team-one-start:hover .inner .info-wrapper {
  margin-top: 25px;
  max-height: 400px;
  display: block;
  visibility: visible;
  height: 130px;
}
.swiper.team-slider-style5 .rt-slider-navigation.team {
  position: absolute;
  right: -50%;
  transform: translateX(50%);
  bottom: 45px;
  z-index: 2;
}

.swiper.team-slider-style6 .single-team-three {
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 1;
}
.swiper.team-slider-style6 .single-team-three:hover .thumbnail .social-team-wrapper {
  right: 30px;
}
.swiper.team-slider-style6 .single-team-three .thumbnail {
  display: block;
  overflow: hidden;
  width: 97%;
  position: relative;
}
.swiper.team-slider-style6 .single-team-three .thumbnail .social-team-wrapper {
  position: absolute;
  top: 0;
  right: -30px;
  top: 30px;
  transition: 0.3s;
}
.swiper.team-slider-style6 .single-team-three .thumbnail .social-team-wrapper ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.swiper.team-slider-style6 .single-team-three .thumbnail .social-team-wrapper ul li {
  margin-bottom: 20px;
}
.swiper.team-slider-style6 .single-team-three .thumbnail .social-team-wrapper ul li a {
  transition: all 0.3s;
}
.swiper.team-slider-style6 .single-team-three .thumbnail .social-team-wrapper ul li a:hover i {
  color: #4AAB3D;
}
.swiper.team-slider-style6 .single-team-three .thumbnail .social-team-wrapper ul li a i {
  color: #171717;
  transition: all 0.3s;
}
.swiper.team-slider-style6 .single-team-three .thumbnail:hover img {
  transform: scale(1.15);
}
.swiper.team-slider-style6 .single-team-three .thumbnail img {
  width: 100%;
  transition: 1.3s;
}
.swiper.team-slider-style6 .single-team-three::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 30px;
  height: 99%;
  width: 97%;
  border: 1px solid #E1E1E1;
  z-index: -1;
}
.swiper.team-slider-style6 .single-team-three .content-area {
  margin-left: 60px;
  margin-top: 30px;
}
.swiper.team-slider-style6 .single-team-three .content-area span.designation {
  background: #171717;
  padding: 9px 34px 7px 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Exo", sans-serif;
  color: #ffffff;
}
.swiper.team-slider-style6 .single-team-three .content-area .name {
  background: #171717;
  padding: 11px 21px 11px 21px;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  line-height: 30px;
  transition: 0.3s;
}
.swiper.team-slider-style6 .single-team-three .content-area .name:hover {
  color: #4AAB3D;
}

.team-slider-main-wrapper {
  position: relative;
}
.team-slider-main-wrapper .rt-slider-navigation.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 47%;
  width: 100%;
  transform: translateY(-47%);
}
.team-slider-main-wrapper .rt-slider-navigation.team .testimonial-cat-prev {
  font-size: 22px;
  color: #1F1F25;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background: #ffffff;
  transition: 0.3s;
  margin-left: -130px;
}
.team-slider-main-wrapper .rt-slider-navigation.team .testimonial-cat-prev:hover {
  background: #4AAB3D;
  color: #ffffff;
}
.team-slider-main-wrapper .rt-slider-navigation.team .testimonial-cat-next {
  font-size: 22px;
  color: #0C0A0A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s;
  margin-right: -130px;
}
.team-slider-main-wrapper .rt-slider-navigation.team .testimonial-cat-next:hover {
  background: #4AAB3D;
  color: #ffffff;
}/*# sourceMappingURL=team-slider.css.map */