@import '../../../scss/base';

// Portfolio Style1
.rt-portfolio-style1 {   

    .portfolio-item {
        position: relative;
        overflow: hidden;
        background: #fff;
        z-index: 1;
        .portfolio-img {
            position: relative;
            a {
                img {
                    width: 100%;
                    transition: 0.6s;
                }
            }
            &::before {
                content: "";
                border-top: 65px solid $primaryColor;
                border-right: 65px solid $primaryColor;
                border-bottom: 65px solid transparent;
                border-left: 65px solid transparent;
                position: absolute;
                right: -25%;
                top: -25%;
                z-index: 5;
                transition: 0.6s;
            }
            &::after {
                content: '';
                width: 100%;
                height: 10px;
                background: $primaryColor;
                position: absolute;
                left: 0;
                bottom: -15px;
                z-index: 5;
                transition: 0.6s;
            }
        }
        .portfolio-content {
            padding: 25px;
            position: absolute;
            bottom: 30px;
            left: 15px;
            transform: scaleY(0);
            transition: 0.3s;
            z-index: 5;
            .vertical-middle {
                position: relative;
                z-index: 9;
            }
            .p-category {
                color: #fff;
                margin-bottom: 5px;
                a {
                    color: #fff;
                }
            }

            .vertical-middle {
                display: table;
                height: 100%;
                width: 100%;
            }

            .vertical-middle-cell {
                display: table-cell;
                vertical-align: middle;
            }
            .porfolio_icon {
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: $whiteColor;
                border-radius: 50px;
                color: $titleColor;
                margin-top: 34px;
            }
        }

        .portfolio-text {
            padding-top: 15px;
        }

        .p-link {
            transition: all 0.3s ease 0s;
            display: inline-block;
            font-size: 19px;
            width: 52px;
            line-height: 54px;
            height: 52px;
            text-align: center;
            border-radius: 50%;
            background: #fff;

            i {
                margin-left: 2px;
            }

            &:hover {
                background-color: $primaryColor;
                color: #fff;
            }
        }

        .p-title {
            font-size: 24px;
            line-height: normal;
            margin-bottom: 0;
            font-weight: 700;
            line-height: 27px;
            a {
                font-family: $titleFont;
                color: $whiteColor;
                font-size: 24px;
                margin-bottom: 0;
                font-weight: 700;
                line-height: 27px;
            }
        }
        .p-desc {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 0;
            margin-top: 10px;
        }
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: #000000e3;
            z-index: 1;
            transition: 0.6s;
            opacity: 0;
        }
        &:hover {
            .portfolio-content {
                transform: scaleY(1);
            }
            &::after {
                opacity: 1;
            }
            .portfolio-img {
                &::after {
                    bottom: 0;
                }
                &::before {
                    right: 0;
                    top: 0;
                }
                a {
                    img {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }

    .grid-item {
        &:hover {
            .read-btn {
                color: #fff;

                &:before {
                    height: 100%;
                    bottom: 0;
                }
            }
        }
    }

    .slick-slider {
        .slick-arrow {
            width: 60px;
            height: 55px;
            border-radius: 0;
            line-height: 60px;
            bottom: -172px;
            top: -84px;

            &:before {
                color: #fff;
            }

        }

        .slick-prev {
            left: 88.5%;

            &:hover {
                background: #fff;

                &:before {
                    color: $primaryColor;
                }
            }
        }

        .slick-next {
            right: 1%;
            background: #fff;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, .04);

            &:before {
                color: $primaryColor;
            }

            &:hover {
                background: $primaryColor;

                &:before {
                    color: #fff;
                }
            }
        }
    }

}

//Slider Navigation
.portfolio-slider-nav {
    max-width: 1320px;
    position: relative;
    margin: auto;
    z-index: 1;
    .swiper-button-prev,
    .swiper-button-next {
        position: relative;
        font-size: 24px;
        color: $titleColor;
        height: 80px !important;
        width: 80px !important;
        display: inline-block;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
        background: $whiteColor;
        transition: 0.3s;
        &:hover {
            background: $primaryColor;
            color: $whiteColor;
        }
        &::before {
          font-size: 0;
        }
    }
    .swiper-button-prev {
        left: 93%;
        top: -80px;
        transform: translateX(-93%);     
        &:hover {
            transform: translateX(-85px);
        }   
    }
    .swiper-button-next {
        position: absolute;
        right: 0;
        top: -80px;
        &:hover {
            transform: translateX(15px);
        } 
    }
}


