@import '../../../scss/base';

.team-grid-style1{
    .team-item {
        overflow: visible;
        .team-inner-wrap{
            border-radius: 8px;
            overflow: hidden;
        }
        .social-icons1 {
            text-align: center;
            margin-top: 14px;

            a {
                i {
                    color: #fff;
                    font-size: 15px;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    -webkit-transition: 0.3s all ease;
                    transition: 0.3s all ease;
                    border-radius: 50%;
                    margin: 0;
                }
            }
        }

        .image-wrap {
            position: relative;
            overflow: hidden;

            .social-icons1 {
                position: absolute;
                right: -50px;
                bottom: 0;
                width: 50px;
                background: var(--color-primary);
                padding: 12px 0;
                opacity: 0;
                visibility: hidden;
                transition: $transition;
                a {
                    padding: 0;
                    background: transparent;

                    i {
                        background: transparent;
                    }

                    &:hover {
                        i {
                            color: $btnColor;
                            background: transparent;
                        }
                    }
                }
            }
        }

        :hover {
            .image-wrap {
                .social-icons1 {
                    right: 0;
                    width: 50px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .team-content {
            text-align: center;
            margin: 0;
            padding: 28px 28px 25px;         
            background: var(--color-primary);
            margin-bottom: 20px;
            position: unset;
            opacity: 1;
            
            h3.team-name {
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 0px;
                text-transform: capitalize;

                a {
                    text-decoration: none;
                    color: #ffffff;

                    &:hover {
                        color: #c4c4c4;
                    }
                }
            }

            span.team-title {
                text-transform: uppercase;
                font-family: $titleFont;
                font-size: 14px;
                color: #ffffff;
            }
        }

        .social-icons {
            display: none;
        }
    }
}
.team-grid-style2{
    padding-bottom: 110px !important;
    .team-inner-wrap {
        position: relative;
        margin-bottom: 35px;   
        padding-top: 20px;
        .image-wrap{
            border-radius: 15px;
            overflow: hidden;
        }
        a{
            text-decoration: none;
        }
        .team-img-sec {
            position: relative;
        }
        .wrap-text {
            box-shadow: 0 5px 20px rgba(34, 34, 34, 0.1);
            padding: 0 40px 12px;
            background: #fff;

            .team-desc {
                margin-bottom: 0;
            }
        }

    }
    .team-content{
        position: absolute;
        left: 0;
        bottom: -20%;
        background: #fff;
        border-radius: 0 15px 15px 15px;
        box-shadow: 0px 4px 27px #00000012;
        text-align: center;
        .header{
            padding: 30px 82px 22px 82px;
            border-bottom: 1px solid #F0F0F0;
            .team-name { 
                margin-bottom: 3px;
                a{               
                    color: #1C2539;
                }           
            }
            .team-title{
                color:#F64A00
            }
        }
        .social-icons{
            padding: 27px 0 36px 0;
            display: flex;
            justify-content: center;
            a{
                position: relative;
                z-index: 1;
                transition: 0.3s;
                width: 40px;
                height: 40px;
                background-color: #f6f6f6;
                border-radius: 50%;
                display:block;
                line-height: 40px;
                margin-right: 7px;
                &:last-child{
                    margin-right: 0;
                }
                i{
                    font-size: 14px;
                    color: #1C2539;
                    transition: 0.3s;
                }
                &:hover{                   
                    background: #F64A00;
                    i{
                        color:#fff;
                    }
                }
            }

        }
    
    }
}
.team-grid-style2 .team-inner-wrap{
    margin-bottom: 95px;
}
.team-grid-style3{
    .team-item {
        overflow: visible;
        margin-bottom: 25px;
        .team-inner-wrap{          
            overflow: hidden;
            position: relative;
        }      

        .image-wrap {
            position: relative;
            overflow: hidden;
            .social-icons1 {
                position: absolute;
                right: -50px;
                bottom: 0;
                width: 50px;
                background: var(--color-primary);
                padding: 12px 0;
                opacity: 0;
                visibility: hidden;
                transition: $transition;
                a {
                    padding: 0;
                    background: transparent;

                    i {
                        background: transparent;
                    }

                    &:hover {
                        i {
                            color: $btnColor;
                            background: transparent;
                        }
                    }
                }
            }
            img{
                transition: 0.6s;
            }
            a:hover{
                img{
                    transform: scale(1.12);
                }
            }
        }

        :hover {
            .image-wrap {
                .social-icons1 {
                    right: 0;
                    width: 50px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .team-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 35px 40px;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: linear-gradient(90deg, #1F1F25 0%, rgba(0, 0, 0, 0) 100%);
            
            h3.team-name {
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 0px;
                text-transform: capitalize;

                a {
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }

            span.team-title {
                font-size: 16px;
                color: #ffffff;
                font-weight: 500;
                line-height: 19px;
            }
        }

        .share-icon {
            width: 50px;
            height: 50px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: var(--color-primary);
            }
            i{
                color: #1F1F25;
                font-weight: 600;
                font-size: 19px;
                line-height: 19px;
                font-size: 18px;
            }
            .share-icons-wrapper{
                position: absolute;
                top: -225px;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        margin: 5px 0;
                        padding: 0;
                        transform: translateY(20px);
                        opacity: 0;
                        transition: 1.5s;
                        a {
                            height: 50px;
                            width: 50px;
                            background: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.3s;
                            i {
                                transition: 0.3s;
                            }
                            &:hover {
                                background: var(--color-primary);
                                color: $whiteColor;
                                i {
                                    color: $whiteColor;
                                }
                            }
                        }
                    }
                }
            }
            &:hover{
                ul li{
                    transform: translateY(0);
                    opacity: 1;
                }
                
            }
        }
    }
}

.team-grid-style4{
    .owl-stage-outer {
        overflow-y: visible;
    }
    .team-item {
        margin-bottom: 125px;
        position: relative;
        overflow: visible;

        &:before {
            display: none;
        }
        .team-content {
            color: #f8560c;
            background: #fff;
            padding: 20px;
            text-align: center;
            z-index: 9;
            position: absolute;
            z-index: 1;
            opacity: 1;
            width: unset;
            height: unset;
            display: inline-block;
            top: unset;
            bottom: -85px;
            padding: 20px 20px 25px;
            box-shadow: 0px 4px 27px #00000012;
            left: 50%;
            border-radius: 15px;
            max-width: 310px;
            transform: translateX(-50%);
            width: 95%;
            .team-name {
                display: block;
                font-size: 22px;
                margin-bottom: 0px;
                text-transform: capitalize;
                font-weight: 600;
                line-height: 27px;
                a {
                    color: var(--color-primary);
                    &:hover {
                        color: $btnColor;
                    }
                }
            }
            .team-title {
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                padding-top: 5px;
                display: block;
                font-family: 'Poppins', sans-serif;
                color: #0a0a0a;
            }

            .team-desc {
                font-size: 14px;
                margin-bottom: 0;
                color: #777;
                position: relative;
                z-index: 1;
                max-height: 0;
                opacity: 0;
                line-height: 24px;
                -webkit-transition: all 0.6s, max-height 0.5s;
                -o-transition: all 0.6s, max-height 0.5s;
                -moz-transition: all 0.6s, max-height 0.5s;
                transition: all 0.6s, max-height 0.5s;
                overflow: hidden;
                -webkit-transform: scaleY(0);
                -moz-transform: scaleY(0);
                -ms-transform: scaleY(0);
                -o-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: bottom;
                -moz-transform-origin: bottom;
                -ms-transform-origin: bottom;
                -o-transform-origin: bottom;
                transform-origin: bottom;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    background: var(--color-primary);
                    top: 0;
                    left: 50%;
                    width: 50px;
                    height: 2px;
                    margin-left: -25px;
                }
            }

            .social-icons {
                text-align: center;
                margin-top: 12px;
                display: flex;
                justify-content: center;
                a { 
                    margin-right: 7px;                 

                    i {
                        color: var(--color-primary);
                        font-size: 15px;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        background: #f6f6f6;
                        text-align: center;
                        -webkit-transition: 0.3s all ease;
                        transition: 0.3s all ease;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 0;
                        &:hover {
                            color: #fff;
                            background: var(--color-primary);
                        }
                    }
                }
            }
        }

        &:before {
            background: transparent;
        }

        &:hover {
            .team-content {
                opacity: 1;
                top: unset;

                .team-desc {
                    position: relative;
                    max-height: 400px;
                    opacity: 1;
                    text-align: center;
                    -webkit-transform: scaleY(1);
                    -moz-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    transform: scaleY(1);
                    -webkit-transition: all 0.4s, max-height 1.5s;
                    -o-transition: all 0.4s, max-height 1.5s;
                    -moz-transition: all 0.4s, max-height 1.5s;
                    transition: all 0.4s, max-height 1.5s;
                    padding-top: 18px;
                    margin-top: 8px;
                }
            }
        }
    }
}
.team-grid-style5 {
    .team-item {
        margin-bottom: 15px;
        .team-inner-wrap {
            position: relative;
            overflow: hidden;       
            background: #fff;
            transition: 0.3s;
            .image-wrap {
                position: relative;
                overflow: hidden;
                img {
                    -webkit-transition: all .7s;
                    transition: all .7s;
                }
                .team-social{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    .main{
                        i{                       
                            background: #fff;
                            font-size: 16px;
                            line-height: 12px;
                            font-weight: 500;
                            color: var(--color-primary);
                            transition: 0.3s;
                            width: 45px;
                            height: 45px;
                            line-height: 45px;
                            text-align: center;
                            display: inline-block;
                            cursor: pointer;
                            &:before{
                                font-weight: bold;
                            }                     
                        }
                        &:after {
                            color: #111111;
                            content: '\e844';
                            font-family: "rt-icons";
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            opacity: 0;
                            background: #fff;
                            font-size: 16px;
                            line-height: 23px;
                            font-weight: 500;
                            color: #df0a0a;
                            transition: 0.3s;
                            height: 45px;
                            width: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }         
                        
                    }
                    .team-social-one{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        transform: translateY(-45px);
                        transition: 1s;
                        opacity: 0;
                        i {
                            background: #fff;
                            border-radius: 0;
                            font-size: 16px;
                            line-height: 23px;
                            font-weight: 500;
                            color:var(--color-primary);
                            transition: 0.3s;
                            margin-bottom: -1px;
                            height: 45px;
                            width: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover{
                                background: var(--color-primary);
                                color: #fff;
                            }
                        }
                    }
                    &:hover{
                        .main i:before {
                            opacity: 0;
                        }
                        .main:after {
                            background: var(--color-primary);
                            color: #ffffff;
                            opacity: 1;
                        }
                        .team-social-one{
                            transform: translateY(-126%);
                            z-index: 2;
                            opacity: 1;
                        }
                    }
                }
            }

            .team-content {
                width: 100%;      
                padding: 32px 30px 27px 0px;
                color: #444;           
                overflow: hidden;
                background: #fff;
                -webkit-transition: .3s all ease;
                -moz-transition: .3s all ease;
                transition: .3s all ease;
                border-radius: 0 0 15px 15px;
                .member-desc {              
                    .team-name {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                        margin: 0;                

                        a {
                            color: $titleColor;
                        }
                    }

                    .team-title {
                        font-size: 15px;
                        text-transform: capitalize;
                        color: #222;
                        float: none;
                        text-align: center;
                        font-weight: 400;
                    }
                }

                .team-desc {
                    display: none;
                }

                .social-icons {
                    bottom: -100px !important;
                    transition: all .3s ease 0s;
                    position: absolute;
                    bottom: 50px;
                    width: 100%;
                    text-align: center;
                    z-index: 100;
                    left: 50%;
                    opacity: 0;
                    transform: translateX(-50%) scale(.5);
                    -webkit-transition: .4s all ease;
                    transition: .4s all ease;

                    a {
                        display: block;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        padding: 0;
                        border: none;
                        text-align: center;
                        color: #fff;
                        display: inline-block;
                        transition: all .3s ease 0s;
                        background: 0 0 !important;
                        margin-right: 8px;

                        i {
                            transition: all .3s;

                            &:hover {
                                color: $btnColor;
                            }
                        }
                    }
                }           
            }
        }
    }
}


.team-grid-style6{
    .single-team-three {
        position: relative;
        max-width: max-content;
        z-index: 1;
        margin-bottom: 70px;
      }
      .single-team-three:hover .thumbnail .social-team-wrapper {
        right: 30px;
      }
      .single-team-three .thumbnail {
        display: block;
        overflow: hidden;
        width: 97%;
        position: relative;
      }
      .single-team-three .thumbnail .social-team-wrapper {
        position: absolute;
        top: 0;
        right: -30px;
        top: 30px;
        transition: 0.3s;
      }
      .single-team-three .thumbnail .social-team-wrapper ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }
      .single-team-three .thumbnail .social-team-wrapper ul li {
        margin-bottom: 20px;
      }
      .single-team-three .thumbnail .social-team-wrapper ul li a {
        transition: all 0.3s;
      }
      .single-team-three .thumbnail .social-team-wrapper ul li a:hover i {
        color: var(--color-primary);
      }
      .single-team-three .thumbnail .social-team-wrapper ul li a i {
        color: #171717;
        transition: all 0.3s;
      }
      .single-team-three .thumbnail:hover img {
        transform: scale(1.15);
      }
      .single-team-three .thumbnail img {
        width: 100%;
        transition: 1.3s;
      }
      .single-team-three::after {
        position: absolute;
        content: "";
        top: 30px;
        left: 30px;
        height: 99%;
        width: 97%;
        border: 1px solid #E1E1E1;
        z-index: -1;
      }
      .single-team-three .content-area {
        margin-left: 60px;
        margin-top: 30px;
      }
      .single-team-three .content-area span.designation {
        background: #171717;
        padding: 9px 34px 7px 21px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        font-family: $titleFont;
        color: $whiteColor;
      }
      .single-team-three .content-area .name {
        background: #171717;
        padding: 11px 21px 11px 21px;
        max-width: max-content;
        color: $whiteColor;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
        line-height: 30px;
        transition: 0.3s;
      }
      .single-team-three .content-area .name:hover {
        color: var(--color-primary);
      }
}