@import '../../../scss/base';

.elementor-widget-rt-price-table {
    .elementor-widget-container {

        .rt-pricing-table-badge {
            position: absolute;
            top: 0;
            padding: 10px 10px;
            background-color: $primaryColor;
            color: #fff;
            line-height: 1;
            z-index: 1;
        }

        .rt-pricing-table-title {
            margin-bottom: 12px;
            color: $titleColor;
            font-size: 24px;
            line-height: 30px;

        }

        .rt-pricing-table-header {
            p {
                padding-bottom: 10px;
                color: #777;
            }
        }

        .rt-pricing-table-price {            
            .rt-pricing-table-price-tag {
                margin-bottom: .5rem;
                color: $titleColor;
                font-weight: 700;
                font-size: 40px;
                line-height: normal;
                position: relative;
                display: flex;
                gap: 10px;
                align-items: center;

               

                .rt-pricing-table-price-text {
                    font-weight: 700;
                    margin-left: -10px;
                }
            }

            .rt-pricing-table-period {
                color: #777;
                font-size: 16px;
                display: block;
                font-weight: 400;
                padding-top: 5px;
            }

            &.display-inline {
                .rt-pricing-table-period {
                    position: relative;
                    padding-left: 16px;
                    display: inline-block;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 20px;
                        width: 2px;
                        position: absolute;
                        left: 0;
                        transform: rotate(20deg) translateY(-50%);
                        top: 50%;
                        background: #f2f2f2;
                    }
                }
            }
        }

       

        .rt-pricing-table-body {
            .rt-pricing-table-features-title {
                margin-top: 0;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 16px;
                border-bottom: 2px solid #E9ECF1;
                padding-bottom:25px;
            }

            .rt-pricing-table-features-list {
                margin: 0;
                padding: 0;
                list-style: none;
                
                li {
                    margin-bottom: 8px;
                    font-size: 16px;
                    color: #777;
                    display: flex;
                    align-items: center;                  
                    &.active{
                        i{
                            color:#0B4DF5;
                            font-size: 18px;
                        }
                    }
                    &.deactive {
                        color: #5D666F;
                    }

                    i {
                        margin-right: 10px;
                        min-width: 15px;
                        font-size: 16px;
                    }
                }
            }
        }

        .rt-pricing-table-btn {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 40px;
            background-color: $primaryColor;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            -webkit-transition: all .3s;
            transition: all .3s;
            text-align: center;
        }

        .rt-pricing-icon {
            position: relative;

            i {
                position: relative;
                transition: $transition;
                text-align: center;
            }
        }
        .rt-pricingt-style2{
            position: relative;
            .rt-pricing-table-price{
                background: $primaryColor;
                display: inline-block;
                position: absolute;
                top: -10%;
                left: 0;               
                padding: 18px 40px;
                text-align: right;
                animation: jump-1 5s linear infinite;
            }
            .rt-pricing-table-header{
                padding-top: 95px;
                p{
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                border-bottom: 1px solid #EAE2E2;
            }
            .rt-pricing-table-price .rt-pricing-table-price-tag .rt-pricing-table-price-text{
                margin:0
            }
            .rt-pricing-table-price-tag{
                margin-bottom: 0;
            }
            .rt-pricing-table-period{
                margin-top: 0;
            }
        }
        

    }
}