:root {
  --color-primary: #4AAB3D;
  --color-secondary: #1F1F25;
  --color-body: #6E777D;
  --color-heading-1: #1f1f25;
  --color-white:#fff;
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.3s;
  --font-primary: "Exo", sans-serif;
  --font-secondary: "Albert Sans", sans-serif;
  --font-size-b1: 16px;
  --font-size-b2: 16px;
  --font-size-b3: 22px;
  --line-height-b1: 26px;
  --line-height-b2: 26px;
  --line-height-b3: 1.7;
  --h1: 60px;
  --h2: 48px;
  --h3: 30px;
  --h4: 26px;
  --h5: 24px;
  --h6: 18px;
}

/** Counter up CSS ----------------------
----------------------------------------*/
.counter-top-area.yes .rs-counter-list .count-text .rs-counter {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counter-top-area {
  position: relative;
}
.counter-top-area .rts-counter-list .counter-icon {
  display: inline-block;
}
.counter-top-area .rts-counter-list .counter-icon i {
  font-size: 50px;
  color: #dcdcdc;
  line-height: 60px;
  transition: all 0.3s ease 0s;
}
.counter-top-area .rts-counter-list .count-text .rs-counter {
  font-size: 50px;
  color: #4AAB3D;
  line-height: 60px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.counter-top-area .rts-counter-list .count-text .title {
  font-size: 18px;
  color: #666;
  line-height: 18px;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.counter-top-area.style1 {
  text-align: center;
}
.counter-top-area.style1 .count-number span {
  padding: 10px 0px 10px 0px;
}
.counter-top-area.style2 {
  padding: 50px;
  border: 1px solid #E9E9E9;
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
  height: 100%;
}
.counter-top-area.style2 .rts-counter-list {
  display: flex;
  align-items: center;
}
.counter-top-area.style2 .rts-counter-list .counter-icon {
  position: absolute;
}
.counter-top-area.style2 .rts-counter-list .count-text {
  width: 100%;
}
.counter-top-area.style2 .rts-counter-list .count-text .count-number {
  border-bottom: 1px solid #E9E9E9;
  transition: 0.3s;
}
.counter-top-area.style2:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 250px;
  width: 250px;
  background: #4AAB3D;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  top: -30%;
  left: -10%;
  transition: 0.3s;
  opacity: 0;
}
.counter-top-area.style2:hover {
  border-color: #4AAB3D;
}
.counter-top-area.style2:hover .rts-counter-list .count-text .count-number {
  border-color: #4AAB3D;
}
.counter-top-area.style2:hover:after {
  opacity: 0.5;
}
.counter-top-area.style3 .rts-counter-list .rts-counter-list-inner {
  display: flex;
  align-items: center;
}
.counter-top-area.style3 .rts-counter-list .rts-counter-list-inner .counter-icon img {
  width: 80px;
  height: 80px;
  padding: 20px;
  overflow: visible;
  border-radius: 50%;
}
.counter-top-area.style3 .rts-counter-list .text {
  font-weight: 400;
  line-height: 26px;
  margin-top: 17px;
}/*# sourceMappingURL=counter.css.map */