@import '../../../scss/base';

.rts-mailchimp {
    .mc4wp-form-fields {
        display: flex;
        align-items: baseline;
        p {
            margin: 0;
        }
    }
    .mailchimp--submit {
        position: relative;
        &:after {
            position: absolute;
            content: '\e80f';
            left: 107px;
            top: 6px;
            color: #fff;
            font-family: 'rt-icons';
        }
    }
}

.rts-mailchimp{
    &.yes{
        position: relative;
        input[type="submit"]{
            font-size: 0;           
        }
        .fa-location-arrow{
            position: absolute;
            right: 17px;
            bottom: 16px;
            color: #fff;
        }
    }
}
