@import '../../../scss/base';


.banner-marketing{
    max-width: 100%;
    position: relative;  
    .title{
      display: flex;
      .animate-pre-text{
        padding-right: 18px;
      }
    }  
    .word {
        position: absolute;
        opacity: 0;
        color: #FF6600;
      }
      .letter {
        display: inline-block;
        position: relative;
        float: left;
        transform: translateZ(25px);
        transform-origin: 50% 50% 25px;
       
      }      
      &.stroke-yes{
        .letter {          
          -webkit-text-stroke: 0.5px #f8f8f8;
          color: transparent;
        }      
      }     
      
      .letter.out {
        transform: rotateX(90deg);
        transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }      
      .letter.behind {
        transform: rotateX(-90deg);
      }      
      .letter.in {
        transform: rotateX(0deg);
      }
}