@import '../../../scss/base';

/*Logo CSS-----------------
--------------------------*/
.rt-grid-figure {
    .logo-img {
        text-align: center;

        a {
            transition: all 0.5s;
        }

        img {
            margin: 0 auto;           
            transition: all 0.5s;
            box-shadow: 0px 10px 30px rgba(33, 5, 5, .05);
            border-radius: 15px;
        }
        &:hover {
            img {
                opacity: 1;
            }

            a.back {
                display: block;
            }

            a.back-exists {
                display: none;
            }
        }
    }
}