/*------------------------------
  RS Timecounter
  -----------------------------*/
  .rs-timecounter {
    .time_circles {
        position: relative;
        width: 100%;
        height: 100%;

        canvas {
            opacity: 0;
        }

        div {
            position: absolute;
            padding-right: 0;
            text-align: center;
            margin-top: -10px;

            span {
                line-height: 1.2;
                font-size: 55px;
            }

            h4 {
                margin: 0;
            }
        }
    }

    &.circle_border_on {
        .time_circles {
            canvas {
                opacity: 1;
            }
        }
    }

    &.separator {
        .time_circles {
            >div {
                &:after {
                    content: ":";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 30px;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &.background_style {
        .time_circles {
            >div {
                span {
                    background: transparent;
                }

                span,
                h4 {
                    position: relative;
                    z-index: 1;
                }

                padding: 20px 0 35px;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 10px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
                    width: 90%;
                    height: 100%;

                }
            }
        }
    }

    &.number_border {
        .time_circles {
            >div {
                span {
                    border: 4px solid #4a4a4a;
                    padding: 0 15px;
                }

                h4 {
                    margin-top: 30px;
                }

                span,
                h4 {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}