:root {
  --color-primary: #4AAB3D;
  --color-secondary: #1F1F25;
  --color-body: #6E777D;
  --color-heading-1: #1f1f25;
  --color-white:#fff;
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.3s;
  --font-primary: "Exo", sans-serif;
  --font-secondary: "Albert Sans", sans-serif;
  --font-size-b1: 16px;
  --font-size-b2: 16px;
  --font-size-b3: 22px;
  --line-height-b1: 26px;
  --line-height-b2: 26px;
  --line-height-b3: 1.7;
  --h1: 60px;
  --h2: 48px;
  --h3: 30px;
  --h4: 26px;
  --h5: 24px;
  --h6: 18px;
}

.rt-portfolio-style1 .portfolio-item {
  position: relative;
  overflow: hidden;
  background: #fff;
  z-index: 1;
}
.rt-portfolio-style1 .portfolio-item .portfolio-img {
  position: relative;
}
.rt-portfolio-style1 .portfolio-item .portfolio-img a img {
  width: 100%;
  transition: 0.6s;
}
.rt-portfolio-style1 .portfolio-item .portfolio-img::before {
  content: "";
  border-top: 65px solid var(--color-primary);
  border-right: 65px solid var(--color-primary);
  border-bottom: 65px solid transparent;
  border-left: 65px solid transparent;
  position: absolute;
  right: -25%;
  top: -25%;
  z-index: 5;
  transition: 0.6s;
}
.rt-portfolio-style1 .portfolio-item .portfolio-img::after {
  content: "";
  width: 100%;
  height: 10px;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: -15px;
  z-index: 5;
  transition: 0.6s;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content {
  padding: 25px;
  position: absolute;
  bottom: 30px;
  left: 15px;
  transform: scaleY(0);
  transition: 0.3s;
  z-index: 5;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content .vertical-middle {
  position: relative;
  z-index: 9;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content .p-category {
  color: #fff;
  margin-bottom: 5px;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content .p-category a {
  color: #fff;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content .vertical-middle {
  display: table;
  height: 100%;
  width: 100%;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content .vertical-middle-cell {
  display: table-cell;
  vertical-align: middle;
}
.rt-portfolio-style1 .portfolio-item .portfolio-content .porfolio_icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ffffff;
  border-radius: 50px;
  color: #1F1F25;
  margin-top: 34px;
}
.rt-portfolio-style1 .portfolio-item .portfolio-text {
  padding-top: 15px;
}
.rt-portfolio-style1 .portfolio-item .p-link {
  transition: all 0.3s ease 0s;
  display: inline-block;
  font-size: 19px;
  width: 52px;
  line-height: 54px;
  height: 52px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
}
.rt-portfolio-style1 .portfolio-item .p-link i {
  margin-left: 2px;
}
.rt-portfolio-style1 .portfolio-item .p-link:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.rt-portfolio-style1 .portfolio-item .p-title {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 27px;
}
.rt-portfolio-style1 .portfolio-item .p-title a {
  font-family: "Exo", sans-serif;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 27px;
}
.rt-portfolio-style1 .portfolio-item .p-desc {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  margin-top: 10px;
}
.rt-portfolio-style1 .portfolio-item::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8901960784);
  z-index: 1;
  transition: 0.6s;
  opacity: 0;
}
.rt-portfolio-style1 .portfolio-item:hover .portfolio-content {
  transform: scaleY(1);
}
.rt-portfolio-style1 .portfolio-item:hover::after {
  opacity: 1;
}
.rt-portfolio-style1 .portfolio-item:hover .portfolio-img::after {
  bottom: 0;
}
.rt-portfolio-style1 .portfolio-item:hover .portfolio-img::before {
  right: 0;
  top: 0;
}
.rt-portfolio-style1 .portfolio-item:hover .portfolio-img a img {
  transform: scale(1.15);
}
.rt-portfolio-style1 .grid-item:hover .read-btn {
  color: #fff;
}
.rt-portfolio-style1 .grid-item:hover .read-btn:before {
  height: 100%;
  bottom: 0;
}
.rt-portfolio-style1 .slick-slider .slick-arrow {
  width: 60px;
  height: 55px;
  border-radius: 0;
  line-height: 60px;
  bottom: -172px;
  top: -84px;
}
.rt-portfolio-style1 .slick-slider .slick-arrow:before {
  color: #fff;
}
.rt-portfolio-style1 .slick-slider .slick-prev {
  left: 88.5%;
}
.rt-portfolio-style1 .slick-slider .slick-prev:hover {
  background: #fff;
}
.rt-portfolio-style1 .slick-slider .slick-prev:hover:before {
  color: var(--color-primary);
}
.rt-portfolio-style1 .slick-slider .slick-next {
  right: 1%;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
}
.rt-portfolio-style1 .slick-slider .slick-next:before {
  color: var(--color-primary);
}
.rt-portfolio-style1 .slick-slider .slick-next:hover {
  background: var(--color-primary);
}
.rt-portfolio-style1 .slick-slider .slick-next:hover:before {
  color: #fff;
}/*# sourceMappingURL=portfolio-grid.css.map */